kind: Secret
apiVersion: v1
metadata:
  name: {{ amq_streams_tls_secret }}
data:
  {{ amq_streams_tls_secret_certificate_key }}: >-
    {{ amq_streams_tls_certificate }}
  {{ amq_streams_tls_secret_private_key_key }}: >-
    {{ amq_streams_tls_private_key }}
type: Opaque
